html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
    text-align: center;
    font-family: papyrus;
}

.background {
    background-color: rgb(198, 226, 198);
    z-index: -1;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-top: solid rgb(149, 170, 149);
}

/* title */
.title {
    font-weight: 900;
    background-color: rgb(21, 116, 61);
    border: solid gray 2px;
    border-bottom: 0;
    width: 960px;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 0;
    margin:auto;
    color: rgb(191, 248, 99);
    margin-top: 5px;
}

.title a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
/* Intro Caption into the game*/
#intro-window {
    background-color: white;
    height: 450px;
    width: 800px;
    padding: 80px;
    border: solid gray 2px;
    display: flex;
    margin: auto;
    margin-top: 0;
}
/* @media (min-width: 1120px){
    #intro-window {
        margin: 100px 200px 10px 200px;
        margin: auto;
    }
    
} */

#intro-window .caption{
    margin: auto;
    text-align: center;
}

#intro-window .caption h1 {
    font-weight: 900;
    font-size: 75px;
    animation-name: 1stText;
    animation-duration: 2s;
    margin-bottom: 0px;
}
#intro-window .caption div {
    margin-top: 0;
    position: relative;
    transform: translateY(-70%);
}
/* Username input */
#intro-window .username {
    margin: auto;
    display: none;
}

#intro-window .username div{
    font-weight: 800;
    font-size: 22px;
}

#intro-window .username input[type=text]{
    margin-right: 2px;
    color:rgb(105, 109, 107);
    font-weight: lighter;
    font-size: 18px;
    height: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
    border-radius: 5px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
}

#intro-window .username input[type=text]:focus{
    border: 2px solid rgb(114, 141, 114);
}   

#intro-window .username button{
    border-radius: 10%;
    border-width: 1px;
    height: 25px;
    transform: translate(1px,-2px);
    background-color: rgb(178, 206, 178);
    cursor: pointer;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    font-family: papyrus;
}

#intro-window .username button:hover{
    background-color: rgb(99, 158, 103);
}

#intro-window .username .error {
    color: red;
    font-size: 14px;
    position: relative;
    transform: translateY(2px);
    display: none;
}



/* Rock Paper Scissors */
#rock-paper-scissors-window {
    background-color: white;
    height: 614px;
    width: 964px;
    box-sizing: border-box;
    border: solid gray 2px;
    display: none;
    margin: auto;
    margin-top: 0;
}

#rock-paper-scissors-window #RPSchoices {
    height: 450px;
    width: 750px;
    /* background-color: rgb(149, 170, 149); */
    position: relative;
    margin: 80px 105px;
    display: flex;
}

#rock-paper-scissors-window #RPSchoices .RPSinnerchoices {
    width: 250px;
    height: 450px;
    /* outline: rosybrown dotted;
    background-color: rgb(191, 248, 99); */
    padding: 0px;
    display: block;
}

#rock-paper-scissors-window #RPSchoices .RPSinnerchoices .rpsFrame {
    border: rgb(148, 189, 132) 2px solid;
    width: 200px;
    height: 200px;
    position: relative;
    top: 105px;
    margin-left: 22px;
    
}

#rock-paper-scissors-window #RPSchoices img {
    width: 200px;
    height: 200px;
    
}

#rock-paper-scissors-window #RPSchoices .RPSmoveNames {
    position: relative;
    transform: translateY(-38px);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

#rock-paper-scissors-window #cpuRPS{
    height: 305px;
    width: 305px;
    border: solid 1px red;
    border-right: 0;
    position: relative;
    float: right;
    transform: translateY(50%);
    display: none
    
}

#rock-paper-scissors-window #userRPS{
    height: 305px;
    width: 305px;
    border: solid 1px red;
    border-left: 0;
    position: relative;
    float: left;
    transform: translateY(50%);
    display: none;
}

/* Zha- game window */

#game-window {
    height: 450px;
    width: 800px;
    padding: 80px;
    border: solid gray;
    display: none;
    margin: auto;
    margin-top: 10px;
}

#game-window .blocks {
    border: dotted 1px grey;
}


/* Instruction Menu */
.instructions { 
    margin: auto;
    width: 990px;
    text-align: left;
    padding: 20px;
    font-weight: bolder;
}